{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<section class="mx-auto my-3 container-v-center">

    <div class="row">
        <!-- Container for logout confirmation message -->
        <div class="p-2 my-3 container--white box-shadow rounded">
            <h3 class="text-center">{% trans "Sign Out" %}</h3>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <!-- Logout and Cancel buttons -->
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-flex justify-content-around">
                    <button class="btn--orange px-3" type="submit">{% trans 'Sign Out' %}</button>
                    <a href="{% url 'home' %}" class="btn btn--gray">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}