{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add Space{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Add Space</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ expense_space_form | crispy }}
        <button type="submit" class="btn btn-primary">Add Expense</button>
        <a href="{% url 'home' %}" class="btn btn-success">Cancel</a>
    </form>
</div>
{% endblock %}