{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add Expense{% endblock %}

{% block content %}
<div class="container container-v-center">
    <div class="header-white header-container">
        <h2>Add Expense</h2>
    </div>
     
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ expense_line_form | crispy }}
        <button type="submit" class="btn--orange">Add Expense</button>
        <a href="{% url 'view_space' expense_space.id %}" class="btn btn--gray">Cancel</a>
    </form>
</div>
{% endblock %}