{% extends 'base.html' %}
{% load static %}
{% block title %}Add Contribution{% endblock %}

{% block content %}
<div class="mx-auto my-3 container-v-center">
    <div class="header-white header-container">
        <h2>Select Contributors</h2>
    </div>

    <div class="p-2 my-3 container--white box-shadow rounded">

        <form method="post" action="{% url 'add_contribution' space_id=expense_space.id expense_id=expense_line.id %}">
            {% csrf_token %}

            {% if unassigned_contributors %}
            <div class="form-group">

                <div>
                    <table class="contributor-table">
                        {% for contributor in unassigned_contributors %}
                        <tr>
                            <td class="contributor-name">
                                {{ contributor.name }}
                            </td>
                            <td class="contributor-checkbox">
                                <div class="custom-checkbox d-flex justify-content-center">
                                    <div class="round">
                                        <!-- Add the label directly after the input -->
                                        <input type="checkbox" name="contributors" value="{{ contributor.id }}"
                                            id="contributor-{{ contributor.id }}">
                                        <label for="contributor-{{ contributor.id }}"></label>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>






            <button type="submit" class="btn--orange">Add</button>
            {% else %}
            <p>All contributors assigned to this expense. Go to the Manage Contributors section to add more people.</p>
            <p>Then come back here to assign them to the expense.</p>
            <a href="{% url 'edit_contributor' expense_space.id %}" class="btn btn--orange">Manage Contributors</a>

            {% endif %}

            <a href="{% url 'view_space' expense_space.id %}" class="btn btn-secondary">Cancel</a>


        </form>


    </div>
</div>



{% endblock %}