{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Expense{% endblock %}

{% block content %}
<div class="container container-v-center">
    <div class="header-white header-container">
        <h2>Edit Space</h2>
    </div>

    <form method="post" action="{% url 'edit_space' edit_id=edit_id %}" enctype="multipart/form-data">
        {% csrf_token %}

        {{ expense_space_form | crispy }}


        <button type="submit" class="btn--orange">Save</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<script>
    const pageUrl = window.location.href;

    if (pageUrl.includes('edit_space')) {
        const currencyField = document.getElementById('id_currency');
        const imageContainer = document.getElementById('div_id_space_image');
        const imageCurrentField = imageContainer.querySelector('div');

        imageCurrentField.setAttribute('hidden', true);

        if (currencyField) {
            currencyField.classList.add('readonly');
        }
    }
</script>


{% endblock %}