{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Contribution{% endblock %}

{% block content %}

<div class="mx-auto text-center container-v-center">
    <div class="header-white header-container">
        <h2>Edit contribution</h2>
    </div>
    
    
    <div class="d-flex justify-content-center align-items-center my-4">
        <form method="post"
            action="{% url 'edit_custom_amount' space_id=expense_space.id expense_id=expense_line.id contribution_id=contribution.id %}">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-text">{{ expense_space.get_currency_display }}</span>
                {{ form.custom_amount }}
            </div>

            
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn--orange me-2">Save</button>
                <a href="{% url 'view_space' expense_space.id %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


{% endblock %}