{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Contribution{% endblock %}

{% block content %}

{% if form.errors %}

<div class="container message-overlay z-3">

    <div class="alert alert-danger show box-shadow" role="alert">
        {{ form.errors.custom_amount.as_text }}
    </div>
</div>
{% endif %}

<div class="mx-auto text-center container-v-center">
    <div class="header-white header-container">
        <h2>Edit contribution</h2>
    </div>



    <form method="post"
        action="{% url 'edit_custom_amount' space_id=expense_space.id expense_id=expense_line.id contribution_id=contribution.id %}">
        {% csrf_token %}
        <div class="input-group d-flex justify-content-center">
            <span class="input-group-text">{{ expense_space.get_currency_display }}</span>
            {{ form.custom_amount }}
            {% if form.custom_amount.help_text %}
            <div class="col-12">
                <p class="header-white mt-2">Maximum allowed: {{ expense_space.get_currency_display }}
                    {{ form.custom_amount.help_text }}</p>
            </div>
            {% endif %}
        </div>



        <div class="d-flex justify-content-center">
            <button type="submit" class="btn--orange px-4 me-2">Save</button>
            <a href="{% url 'view_space' expense_space.id %}" class="btn btn--gray">Cancel</a>
        </div>
    </form>

</div>


{% endblock %}