{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}View Expense{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row justify-content-between">
        <div class="col-12 col-md-3">
            <img src="{{ expense_space.space_image.url }}" class="space-img card-img-top"
                alt="{{ expense_space.name }}">
        </div>
        <div class="col-12 col-md-3">
            <h1>{{ expense_space.name }}</h1>
            <p>{{ expense_space.description }}</p>
            <p><strong>Total Expense:</strong> {{ expense_space.get_currency_display }}
                {{ expense_space.total_expense }}</p>
            <p><small>Created on: {{ expense_space.created_on|date:"M d, Y" }}</small></p>

        </div>
        <div class="col-12 col-md-5">
            <h3>Contributors<span>
                <a href="{% url 'edit_contributor' expense_space.id %}" class="btn btn-primary">Edit</a></span></h3>
            <div class="row justify-content-between border border-3 rounded">
                {% for c in contributor %}
                <div class="col-12 col-sm-6 col-md-6 border rounded">
                    <div class="row justify-content-center">
                        <div class="col-2 align-self-center line-initials">
                            <p class="m-0">{{ c.name|slice:":1" }}</p>
                        </div>
                        <div class="col-6">
                            <p class="m-0">{{ c.name }}</p>
                            <p class="m-0">{{ expense_space.get_currency_display }} {{ c.total_contributions }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No contributors assigned</p>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<div class="container p-0">
    {% for line in expense_line %}
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ line.id }}" aria-expanded="false"
                    aria-controls="collapse-{{ line.id }}">
                    <div class="d-flex justify-content-between w-100">
                        <span>{{ line.title }}</span>

                        <span class="d-none d-md-block">{{ line.created_on|date:"M d, Y"}}</span>
                        <span>{{ expense_space.get_currency_display }} {{ line.amount}}</span>

                    </div>
                </button>
            </h2>
            <div id="collapse-{{ line.id }}" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Contributor</th>
                                <th scope="col">Split</th>
                                <th scope="col">Custom Amount</th>
                                <th scope="col">Remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for split in line.expense_contributions.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ split.contributor.name }}</td>
                                <td>{{ split.split_type }}</td>
                                <td>{% if split.custom_amount is none %}-
                                    {% else %}
                                    {{ expense_space.get_currency_display }}
                                    {{ split.custom_amount|default:"-" }}{% endif %}</td>
                                {% if split.custom_amount is none %}
                                <td>
                                    {{ expense_space.get_currency_display }}
                                    {{ split.remaining_share }}</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No contributions for this expense</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <h1>No Expenses here</h1>
    {% endfor %}
<div class="container">
    <a href="{% url 'add_expense' expense_space.id %}" class="btn btn-success">Add Expense</a>
</div>
       
{% endblock %}