{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}View Expense{% endblock %}

{% block content %}

<div class="container my-3 px-2 z-2">
    <div class="row justify-content-between">
        <div class="col-md-6 align-self-center brand-light box-shadow rounded">
            <div class="row">
                <div class="col-12 col-md-4 align-self-center">
                    <img src="{{ expense_space.space_image.url }}" class="expense-img card-img-top"
                        alt="{{ expense_space.name }}">
                </div>
                <div class="col-12 col-md-8 align-self-center">
                    <h1>{{ expense_space.name }}</h1>
                    <p>{{ expense_space.description }}</p>

                    <p class="d-lg-none"><strong>Total:</strong> {{ expense_space.get_currency_display }}
                        {{ expense_space.total_expense }}</p>
                    <p class="d-none d-lg-inline"><strong>Total Expense:</strong>
                        {{ expense_space.get_currency_display }}
                        {{ expense_space.total_expense }}</p>
                    <p><small>Created on: {{ expense_space.created_on|date:"M d, Y" }}</small></p>

                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 align-self-center p-2 mt-2">

            <div class="row justify-content-center contributor-container brand-dark rounded">
                <div class="col-12 mt-2 text-center">
                    <h3 class="header-white">Contributors<span>
                            <a href="{% url 'edit_contributor' expense_space.id %}"
                                class="btn btn--orange">Edit</a></span>
                    </h3>
                </div>


                {% for c in contributor %}
                <div class="contributor-filter col-6 pb-2">
                    <div class="filter-wrapper">
                        <input type="checkbox" id="filter-checkbox-{{ c.id }}">
                        <label class="filter-bg" for="filter-checkbox-{{ c.id }}">
                            <span class="filter-btn"></span>
                        </label>
                        <div class="filter-content">
                            <p class="m-0 text-start">{{ c.name }}</p>
                            <p class="m-0">{{ expense_space.get_currency_display }} {{ c.total_contributions }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}

                <div id="container-empty-container"class="p-2 m-3 container--white box-shadow rounded">
                    <p class="m-0"><i class="fa-solid fa-circle-info text-success"></i> Click Edit above to add contributors to the space.</p>
                </div>

                {% endfor %}

            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container my-3 p-0">
        <div class="row justify-content-between">
            <div class="col-6 text-start">
                <div class="header-white header-container">
                    <h3>Expenses</h3>
                </div>
            </div>
            <div class="col-6 text-end">
                <button id="toggleButton" class="btn--orange">Toggle Lines</button>
            </div>
        </div>


        {% for line in expense_line %}
        <div class="accordion box-shadow">
            <div class="accordion-item my-3" id="expense-line-{{ line.id }}" data-total-amount="{{ line.amount }}"
                data-id="{{ line.id }}"
                data-contributors="{% for contributor in line.expense_contributions.all %}{{ contributor.contributor.id }}{% if not forloop.last %}, {% endif %}{% endfor %}">

                <h2 class="accordion-header">
                    <button class="accordion-button d-flex justify-content-between" type="button"
                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-{{ line.id }}" aria-expanded="true"
                        aria-controls="panelsStayOpen-{{ line.id }}">
                        <span>{{ line.title }} <i class="fa-solid fa-user count-icon"></i>
                            {{ line.expense_contributions.count }}</span>

                        <span class="button-text" id="expense-amount-{{ line.id }}">
                            <span class="amount">
                                {{ expense_space.get_currency_display }} {{ line.amount }}
                                <i id="expense-warning-{{ line.id }}" class="fa-solid fa-circle-info" hidden></i></span>
                        </span>
                    </button>
                </h2>
                <div id="panelsStayOpen-{{ line.id }}" class="accordion-collapse collapse accordion-panel show">
                    <div class="accordion-body">
                        <!-- {{ line.description }} -->
                        <a href="{% url 'edit_expense' space_id=expense_space.id expense_id=line.id %}"
                            class="btn btn-link remove-decoration"><i class="fa-solid fa-pen-to-square edit-icon"></i>
                            <span class="link-color"> Edit Expense</span>
                        </a>
                        <div class="table-scroll">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Contributor</th>
                                        <th scope="col">Share Type</th>
                                        <th scope="col" class="text-end">Custom Amount</th>
                                        <th scope="col" class="text-end">Remaining</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for split in line.expense_contributions.all %}
                                    <tr data-contributor-id="{{ split.contributor.id }}"
                                        data-custom-amount="{{ split.custom_amount }}">
                                        <th>

                                            <form method="post"
                                                action="{% url 'delete_contribution' space_id=expense_space.id expense_id=line.id contribution_id=split.id %}"
                                                class="my-2">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-link p-0 delete-icon"
                                                    title="Remove line">
                                                    <i class="fa-solid fa-x"></i>
                                                </button>
                                            </form>

                                        </th>
                                        <td>{{ split.contributor.name }}</td>
                                        <td>{{ split.split_type }}</td>


                                        {% if split.custom_amount is none %}
                                        <td class="text-end">
                                            <a href="{% url 'edit_custom_amount' space_id=expense_space.id expense_id=line.id contribution_id=split.id %}"
                                                class="text-center btn btn-link add-icon"><i
                                                    class="fa-solid fa-plus"></i></a>
                                        </td>
                                        {% else %}
                                        <td class="text-end">
                                            {{ expense_space.get_currency_display }}
                                            {{ split.custom_amount|default:"-" }}
                                            <a href="{% url 'edit_custom_amount' space_id=expense_space.id expense_id=line.id contribution_id=split.id %}"
                                                class="btn btn-link edit-icon"><i
                                                    class="fa-regular fa-pen-to-square"></i></a>
                                        </td>
                                        {% endif %}


                                        {% if split.custom_amount is none %}
                                        <td class="text-end">
                                            {{ expense_space.get_currency_display }}
                                            {{ split.remaining_share }}</td>
                                        {% else %}
                                        <td class="text-end">-</td>
                                        {% endif %}

                                    </tr>

                                    {% empty %}
                                    <tr>
                                        <td colspan="5">No contributions for this expense</td>
                                    </tr>

                                    {% endfor %}
                                    <tr>
                                        <td colspan="5">

                                            <a href="{% url 'add_contribution' space_id=expense_space.id expense_id=line.id %}"
                                                class="btn btn-link remove-decoration"><i
                                                    class="fa-solid fa-circle-plus add-icon"></i>
                                                <span class="link-color"> Add Contributor</span>
                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <!-- Add Expense Section -->
        <div class="accordion box-shadow my-4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <a href="{% url 'add_expense' expense_space.id %}"
                        class="accordion-button collapsed btn-link text-start remove-decoration">
                        <span class="d-flex justify-content-center w-100">
                            <span><i class="fa-solid fa-circle-plus add-icon"></i> Add New Expense</span>
                        </span>
                    </a>
                </h2>
            </div>
        </div>

    </div>
</div>

<script>
    // Toggle expense line accordion dropdown
    const toggleButton = document.getElementById('toggleButton');
    const panels = document.querySelectorAll('.accordion-panel');

    let status = false;

    toggleButton.addEventListener('click', function () {
        panels.forEach(panel => {
            if (status) {
                panel.classList.remove('show');
            } else {
                panel.classList.add('show');
            }
        });

        status = !status;
        toggleButton.textContent = status ? 'Collapse All' : 'Show All';
    });

    // Contributor filter

    const contributorCheckboxes = document.querySelectorAll('.contributor-filter input[type="checkbox"]');
    const expenseLines = document.querySelectorAll('.accordion-item');

    contributorCheckboxes.forEach(checkbox =>
        checkbox.addEventListener('change', () => filterExpenses())
    );

    function filterExpenses() {

        const selectedContributorIds = Array.from(contributorCheckboxes)
            .filter(checkbox => checkbox.checked)
            .map(checkbox => checkbox.id.replace('filter-checkbox-', ''));

        expenseLines.forEach(expenseLine => {

            const contributorsInLine = (expenseLine.dataset.contributors || '').split(',').map(id => id.trim());
            const matchesFilter = selectedContributorIds.length === 0 ||
                contributorsInLine.some(id => selectedContributorIds.includes(id));

            expenseLine.style.display = matchesFilter ? '' : 'none';

            if (matchesFilter) filterContributionRows(expenseLine, selectedContributorIds);
        });
    }

    function filterContributionRows(expenseLine, selectedContributorIds) {
        const contributionRows = expenseLine.querySelectorAll('tbody tr[data-contributor-id]');

        contributionRows.forEach(row => {
            const contributorId = row.dataset.contributorId;
            const rowMatches = selectedContributorIds.length === 0 || selectedContributorIds.includes(
                contributorId);
            row.style.display = rowMatches ? '' : 'none';
        });
    }



    expenseLines.forEach(expenseLine => {
        const totalAmount = parseFloat(expenseLine.dataset.totalAmount || 0);
        const expenseLineId = expenseLine.dataset.id;
        const contributionRows = expenseLine.querySelectorAll('tbody tr[data-contributor-id]');

        let customAmountTotal = 0;
        let allContributorsHaveCustomAmounts = true;


        contributionRows.forEach(row => {
            const customAmount = parseFloat(row.dataset.customAmount || 0);
            customAmountTotal += customAmount;

            if (!row.dataset.customAmount || customAmount === 0) {
                allContributorsHaveCustomAmounts = false;
            }
        });


        if (allContributorsHaveCustomAmounts && customAmountTotal < totalAmount) {
            const warningIcon = expenseLine.querySelector(`#expense-warning-${expenseLineId}`);
            const amountElement = expenseLine.querySelector(`#expense-amount-${expenseLineId} .amount`);

            if (warningIcon) {
                warningIcon.removeAttribute('hidden');
                warningIcon.setAttribute('title', 'Custom amounts do not match the total expense.')

            }

            if (amountElement) {
                amountElement.classList.add('amount-warning');
            }
        }
    });
</script>

{% endblock %}