/* Site brand colors */

:root {
    --brand-primary: #070eff8a;
    --brand-secondary: #E62C03;
    --brand-accent: #77afff;
    --brand-dark: #3A4454;
    --brand-light: #F9FAFC;
    --brand-alt: #0dcaf0;
}

.brand-primary {
    background-color: var(--brand-primary);
    /* margin-bottom: 0 !important;
    padding-bottom: 0 !important; */
}

.brand-secondary {
    background-color: var(--brand-secondary);
}

.brand-light {
    background-color: var(--brand-light);
}

.brand-dark {
    background-color: var(--brand-dark);
}


.button--orange {
    background-color: #E84610;
}

.brand-text-primary {
    color: var(--brand-primary);
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background-color: var(--brand-alt);
}

.header-white {
    color: #ffffff;
    
}



/* main {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    flex: 1 0 auto;
} */

.box-shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}




.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: var(--brand-alt);
}

/* .card {
    border: none;
    background-color: transparent;
} */

.image-container {
    position: relative;
}

.contributor-count {
    position: absolute;
    top: 2%;
    /* min-width: 30%; */
    left: 2%;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--brand-primary);;
    background-image: linear-gradient(-180deg, #6e73f88a, #070eff8a);
}

.contributor-count:hover {
    cursor: pointer;
  }

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.profile-image {
    width: 20px;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Main View */

/* .dashboard-view {
    height:80vh;
} */

/* Expense Space Cards */

.space-img {
    width: 100%;
    height: auto;
    object-fit: contain; 
    max-width: 100%; 
}

/* Footer */

#footer-container {
    background-color: #3A4454;
    margin: 0;
}

footer p {
    color: #ffffff;
}

footer .nav-link {
    color: #ffffff;
}

footer .nav-link:focus {
    color: #ffffff;
}

/* Expense Line Summary */

.expense-img {
    width: 100%;
    height: auto;
    object-fit: contain; 
    max-width: 100%; 
    padding: 4px;
    border-top-left-radius: 5px;
}

.line-initials {
    background-color: #E62C03;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* Class to stop users updating required fields on form: ExpenseSpace[edit] */

.readonly {

    color: gray;
    background-color: lightgrey;
    pointer-events: none;

}

/* Style form action buttons using fontawsome icons */

.delete-icon {
    background: none;
    border: none;
    color: red;
}

.add-icon {
    background: none;
    border: none;
    color: green;
}

.edit-icon {
    background: none;
    border: none;
    color: blue;
}

.save-icon {
    background: none;
    border: none;
    color: green;
}

.cancel-icon {
    background: none;
    border: none;
    color: red;
}

/* expense line accordion component */

.button-text {
    font-weight: bold;
}

.count-icon {
    color: linear-gradient(-180deg, #6e73f88a, #070eff8a);;
}

.accordion-button::after {
    display: none;
}

.accordion-button:not(.collapsed) {
    /* color: #ffffff; */
    background-color: #ffffff;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    font-weight: normal;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}



.link-color {
    color: #000000;
    text-decoration-line: none;
    font-weight: bold;
}

/* Contributor table */
.contributor-container {
    background-color: var(--brand-dark);
}

/* contribution table */

.table-scroll {
    overflow-x: auto;
}

.table-data-center {
    text-align: center;
}

.remove-decoration {
    text-decoration-line: none;
}

td {
    vertical-align: middle;
}

/* Editing Custom Amount */

#id_custom_amount {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Manage Contributor section */

.container--white {
    background-color: #FFFFFF;
}

/* General Form Styling */

form label {
    color: #FFFFFF
}

.container-v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* Button custom styling - Credit: FlightConnections.com via CSS Scan */

.btn--orange {
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 10px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.btn--orange:hover {
    color: #FFFFFF;
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.btn--orange:active {
    color: #FFFFFF;
}

.btn--blue {
    background-color: initial;
    background-image: linear-gradient(-180deg, #0d6efd, #0900ff);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.btn--blue:hover {
    color: #FFFFFF;
    box-shadow: rgba(4, 0, 253, 0.5) 0 3px 8px;
}

.btn--blue:active {
    color: #FFFFFF;
}

.btn--red {
    background-color: initial;
    background-image: linear-gradient(-180deg, #f94b4b, #ff0000);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

.btn--red:hover {
    color: #FFFFFF;
    box-shadow: rgba(253, 0, 0, 0.5) 0 3px 8px;
}

.btn--red:active {
    color: #FFFFFF;
}

/* @media only screen and (min-width: 768px) {
    
    .contributor-table{
        width: 40%;
    }




} */